<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="SharedDemo" publicKeyToken="f946433fdae2512d" culture="neutral" />
        <codeBase version="1.0.0.0" href="file://c:/WroxUtils" />
      </dependentAssembly>-->

      <probing privatePath="bin;utils;"/>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
