<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\mesh\pro c# 5.0\newcode\wcf\routingsample\router\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
            <add initializeData="c:\mesh\pro c# 5.0\newcode\wcf\routingsample\router\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="noSecurityBinding">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="routingData" name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="noSecurityBinding" name="reqReplyEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RoutingDemo/router"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="routingData">
          <serviceMetadata httpGetEnabled="True"/>
          <routing filterTableName="routingTable1"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!--<endpoint address="http://localhost:9001/RoutingDemo/HostA" binding="wsHttpBinding"
        bindingConfiguration="noSecurityBinding" contract="*" name="RoutingDemoService1" />-->
      <endpoint address="http://localhost:9001/RoutingDemo/HostB" binding="wsHttpBinding" bindingConfiguration="noSecurityBinding" contract="*" name="RoutingDemoService2"/>
      <endpoint address="net.tcp://localhost:9010/RoutingDemo/HostA" binding="netTcpBinding" contract="*" name="RoutingDemoService1"/>
    </client>
    <!--routing with backup list -->
    <routing>
      <filters>
        <filter name="MatchAllFilter1" filterType="MatchAll"/>
      </filters>
      <filterTables>
        <filterTable name="routingTable1">
          <add filterName="MatchAllFilter1" endpointName="RoutingDemoService1" backupList="failOver1"/>
        </filterTable>
      </filterTables>
      <backupLists>
        <backupList name="failOver1">
          <add endpointName="RoutingDemoService2"/>
        </backupList>
      </backupLists>
    </routing>
    <!-- routing with parameter filter -->
    <!--<routing>
      <namespaceTable>
        <add prefix="custom" namespace="http://www.cninnovation.com/Services/2012/" />
      </namespaceTable>
      <filters>
        <filter name="contentMatchA" filterType="Custom" customType="Router.CustomMessageFilter, Router" filterData="HelloA"/>
        <filter name="contentMatchB" filterType="Custom" customType="Router.CustomMessageFilter, Router" filterData="HelloB"/>
      </filters>
      <filterTables>
        <filterTable name="routingTable1">
          <add filterName="contentMatchA" endpointName="RoutingDemoService1"/>
          <add filterName="contentMatchB" endpointName="RoutingDemoService2"/>
        </filterTable>
      </filterTables>
    </routing>-->
  </system.serviceModel>
</configuration>
