<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RoomReservationsEntities" connectionString="metadata=res://*/RoomReservationModel.csdl|res://*/RoomReservationModel.ssdl|res://*/RoomReservationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=RoomReservations;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5,Profile=Client"/></startup></configuration>
