<?xml version="1.0"?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>       
        
       
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoomService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/RoomReservation" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomService" contract="RoomReservationService.IRoomService" name="BasicHttpBinding_IRoomService"/>
        </client>
    </system.serviceModel>
</configuration>
