<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wrox.ProCSharp.Transactions.Properties.Settings.CourseManagementConnectionString" connectionString="Data Source=(local);Initial Catalog=CourseManagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
