<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="noSecurityBinding">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Wrox.ProCSharp.WCF.DemoService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="noSecurityBinding" contract="Wrox.ProCSharp.WCF.IDemoService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/RoutingDemo/HostB/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
