<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding_IDemoService">
          <webSocketSettings transportUsage="Always"/>
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="ws://localhost:20839/DemoService.svc" binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IDemoService" contract="DemoService.IDemoService" name="NetHttpBinding_IDemoService"/>
    </client>
  </system.serviceModel>
</configuration>
