<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <behaviors/>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDemoService">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/RoutingDemo/router" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDemoService" contract="DemoService.IDemoService" name="WSHttpBinding_IDemoService">
                <identity>
                    <userPrincipalName value="THEOTHERSIDE\Christian"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
